/*<-----Vores root----->*/
/*Her definerer vi faste variabler som vi bruger i hele dokumentet*/
:root {
  --tekst: #ffffff;
  --font: georgia, serif;
  --boblefarvekant: rgba(255, 255, 255, 0.6);
  --boblebaggrund: rgba(255, 255, 255, 0.2);
}

/*<-----Body----->*/
body {
  background-color: plum;
  font-family: var(--font);
  color: var(--tekst);

  display: flex;
  flex-direction: column;
  justify-content: center; /**/
  align-items: center;

  text-align: center;
  height: 100vh;
  margin: 0;

  overflow: hidden; /*Her gemmer vi det indhold som er uden for skærmen*/
}

/*<-----Intro teksten----->*/
#inaktivTekst {
  opacity: 0; /*Denne gør teksten usynlig*/
  transition: opacity 2s ease; /*Med denne linje animere vi med en transition, som gør den fra usynlig til synlig på 2 sek*/
}

h1 {
  font-size: 4.5em;
}

.introTo {
  font-size: 2em;
  max-width: 75%;
  line-height: 1.5em;
}

.vis {
  opacity: 1 !important; /*Her sættes teksten synlig, og denne regel er vigtigere end de andre regler*/
}

.linje {
  display: block;
  opacity: 0;
  transition: opacity 2s ease;
  margin-bottom: 30px;
}

.visLinje {
  opacity: 1;
}

/*<-----Quiz----->*/
.quiz {
  /* quiz sektionen */
  display: none; /* quiz sektionen bliver skjult */
  width: 80%; /* quiz sektionen fylder 80% af bredden */
  max-width: 800px; /* quiz sektionen har en maksimal bredde på 800px */
}

#spoergsmaalTekst {
  color: white; /* Farven på spørgsmålet bliver hvide */
  opacity: 0; /*Denne gør teksten usynlig*/
  transition: opacity 1s; /* Denne linje animeres med en transition, som gør teksten fra usynlig til synlig på 1 sek*/
  font-size: 3em;
}

/*<-----Svarmuligheder Bobler----->*/

/*Her er den overordnet stil for boblerne*/
#svarBobler {
  position: relative;
  width: 100%;
  height: 450px;
  margin-top: 20px;

  opacity: 0;
  transition: opacity 2s ease;
}

/*Boblerne*/
#svarBobler button {
  position: absolute;
  width: 180px;
  height: 180px;

  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.6);

  background-color: rgba(255, 255, 255, 0.2);
  color: white;

  font-family: var(--font);
  font-size: 1.8em;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  backdrop-filter: blur(6px);
  box-shadow: 0 4px 12px color(srgb 0, 0, 0, 0.2);

  transition:
    transform 0.3s ease,
    background-color 0.3s ease;

  animation: boblePuls 3s ease-in-out infinite; /*Her bliver den animation vi har lavet tilføjet til boblerne og kører i uendeligheder*/
}

/*Placering af alle boblerne*/
/*Ensomhed/Dum/Mit grin*/
#svarBobler button:nth-child(1) {
  top: -10%;
  left: -30%;
}

/*Alle mine fejl/Grim/Mine hænder*/
#svarBobler button:nth-child(2) {
  top: 50%;
  left: -40%;
}

/*Mit smil/Sød/At blive misforstået*/
#svarBobler button:nth-child(3) {
  top: 35%;
  left: -10%;
}

/*Mine øjne/Skør/Ikke klog nok*/
#svarBobler button:nth-child(4) {
  top: 0%;
  left: 75%;
}

/*En taber/Underlig/Ikke god nok*/
#svarBobler button:nth-child(5) {
  top: -30%;
  left: 110%;
}

/*Min hårfarve/Snaksaglig/Min krop*/
#svarBobler button:nth-child(6) {
  top: 30%;
  left: 115%;
}

/*Min næse/Venlig/For stille*/
#svarBobler button:nth-child(7) {
  top: 60%;
  left: 80%;
}

/*Animation af bobler*/
@keyframes boblePuls {
  0% {
    /*startpunktet*/
    transform: scale(
      1
    ); /*boblen scalere op til 100% af dens normale størrelse*/
  }

  50% {
    /*midtpunkt*/
    transform: scale(
      1.1
    ); /*boblen scalere op til 200% af dens normale størrelse*/
  }

  100% {
    /*slutpunkt*/
    transform: scale(1); /*scalere ned til dens normale størrelse igen*/
  }
}

/*<-----Webcam----->*/
video#webcam {
  position: fixed; /* Dette gør at skærmen bliver fastlåst uden scoll*/
  top: 0;
  left: 0; /* Starter i toppen men i venstre hjørne*/
  width: 100%; /*Fylder hele bredden*/
  height: 100%; /* fylder højden af skærmen*/
  object-fit: cover; /* Videocam fylder hele hele skærmen*/
  z-index: -1; /* placere elementer bagved de andre elementer*/
  transform: scaleX(-1); /* Spejlvender videoen*/
}

.wordcloud {
  display: none; /* Det her gør at teksten “Du er aldrig alene - mange andre har det ligesom dig” bliver gemt indtil man har svaret på spørgsmålene */
}

.wordcloud h2 {
  font-size: 3em;
  margin-bottom: 0px;
  /*Her skal der ændres i placeringen senere efter vi har stylet wordcloud*/
}

/*<-----Restart knappen----->*/
#restartKnap {
  position: fixed; /*Positionen af knappen*/
  top: 0px;
  right: 20px;

  padding: 8px 16px;

  font-size: 4rem; /*Størrelsen på symbolet*/
  color: var(--tekst);

  border: none;
  border-radius: 10px;

  cursor: pointer; /*Når man holder musen over, så ændre musen sig. Dette gør det tydeligere at det er en knap*/

  z-index: 2000;
  background-color: transparent; /*Gør at knappen bliver gennemsigtigt*/
}

/* - inputsfelt */

#egetSvar {
  width: 350px;
  height: 80px;

  font-family: var(--font);
  font-size: 1.5em;
  text-align: center;

  background-color: var(--boblebaggrund);
  color: #000000; /*Denne ændre farven på skrivende tekst i "skriv dit eget svar"*/

  border: 2px solid var(--boblefarvekant);
  border-radius: 50px;

  backdrop-filter: blur(6px);

  outline: none;
  margin-top: 20px;
}
#egetSvar::placeholder {
  /*ændre farven på" skriv eget svar"*/
  color: rgb(255, 255, 255);
}

#egetSvarBoble {
  width: 120px;
  height: 80px;

  border-radius: 50px;
  border: white;

  background-color: rgba(255, 255, 255, 0.667);
  color: rgb(255, 255, 255);

  font-family: var(--font);
  font-size: 1.2em;

  cursor: pointer; /**Når man holder musen over, så ændre musen sig. Dette gør det tydeligere at det er en knap*/
}

.inputContainer {
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 15px;
  opacity: 0;
  transition: opacity 2s ease;
}

.visInput {
  opacity: 1;
}

/*<-----Wordcloud----->*/
/*den container som indeholder wordclouden, både titel og indhold*/
.wordcloud {
  display: none; /*skjuler wordclouden indtil vi gør den synlig med vores javascript*/
  width: 100%; /*bredden på wordclouden*/
  max-width: 80%; /*den maksimale bredde wordclouden kan blive, så den kan kun blive 80% af skærmen*/
}

.wordcloud h2 {
  font-size: 3em;
  margin-bottom: 1em;
}

/*Den container som indeholder ordene i wordclouden*/
.wordcloudContainer {
  display: flex;
  flex-wrap: wrap; /*så ordene flytter sig til næste linje hvis der ikke er plads i containeren*/
  justify-content: center; /* ordene bliver centeret vandret*/
  align-items: center; /*centerer ordene lodret*/
  align-content: center; /*Centerer indholdet i containeren*/
  padding: 30px;
  min-height: 450px;
}

/*styling af selve ordene i wordclouden*/
.word {
  display: inline-block; /*gør at ordene kan stå ved siden af hinanden, men de opføre sig også blok elementer */
  line-height: 1;
  font-weight: 900; /*Gør teksten federe*/
  text-transform: uppercase; /*blokbogstaver*/
}
