/*<-----Vores root----->*/
/*Her definerer vi faste variabler som vi bruger i hele dokumentet*/
:root {
  --tekst: #ffffff;
  --font: georgia, serif;
}

/*<-----Body----->*/
body {
  background-color: plum;
  font-family: var(--font);
  color: var(--tekst);

  display: flex;
  flex-direction: column;
  justify-content: center; /**/
  align-items: center;

  text-align: center;
  height: 100vh;
  margin: 0;

  overflow: hidden; /*Her gemmer vi det indhold som er uden for skærmen*/
}

/*<-----Intro teksten----->*/
#inaktivTekst {
  opacity: 0; /*Denne gør teksten usynlig*/
  transition: opacity 2s ease; /*Med denne linje animere vi med en transition, som gør den fra usynlig til synlig på 2 sek*/
}

h1 {
  font-size: 4.5em;
}

.introTo {
  font-size: 3em;
  max-width: 75%;
  line-height: 1.5em;
}

.vis {
  opacity: 1 !important; /*Her sættes teksten synlig, og denne regel er vigtigere end de andre regler*/
}

/*<-----Quiz----->*/
.quiz {
  /* quiz sektionen */
  display: none; /* quiz sektionen bliver skjult */
  width: 80%; /* quiz sektionen fylder 80% af bredden */
  max-width: 800px; /* quiz sektionen har en maksimal bredde på 800px */
}

#spoergsmaalTekst {
  color: white; /* Farven på spørgsmålet bliver hvide */
  opacity: 0; /*Denne gør teksten usynlig*/
  transition: opacity 1s; /* Denne linje animeres med en transition, som gør teksten fra usynlig til synlig på 1 sek*/
}

video#webcam {
  position: fixed; /* Dette gør at skærmen bliver fastlåst uden scoll*/
  top: 0;
  left: 0; /* Starter i toppen men i venstre hjørne*/
  width: 100%; /*Fylder hele bredden*/
  height: 100%; /* fylder højden af skærmen*/
  object-fit: cover; /* Videocam fylder hele hele skærmen*/
  z-index: -1; /* placere elementer bagved de andre elementer*/
  transform: scaleX(-1); /* Spejlvender videoen*/
}

.wordcloud {
  display: none; /* Det her gør at teksten “Du er aldrig alene - mange andre har det ligesom dig” bliver gemt indtil man har svaret på spørgsmålene */
}

/*<-----Restart knappen----->*/
#restartKnap {
  position: fixed; /*Positionen af knappen*/
  top: 0px;
  right: 20px;

  padding: 8px 16px;

  font-size: 4rem; /*Størrelsen på symbolet*/
  color: var(--tekst);

  border: none;
  border-radius: 10px;

  cursor: pointer; /*Når man holder musen over, så ændre musen sig. Dette gør det tydeligere at det er en knap*/

  z-index: 2000;
  background-color: transparent; /*Gør at knappen bliver gennemsigtigt*/
}
